---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import TakeAction from '../../components/TakeAction.astro';
import NewsletterSignup from '../../components/NewsletterSignup.astro';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const articles = await getCollection('articles');

	return articles.map((article) => ({
		params: { slug: article.id },
		data: { article },
	}));
}

const { slug } = Astro.params;

const article = await getEntry('articles', slug);

if (!article) {
	return Astro.rewrite('/404');
}

const {
	data: { author, description, pubDate, title, thumbnail },
} = article;
const { Content } = await render(article);
---

<Layout {title} {description} breadcrumb={title}>
	<!-- Hero Section -->
	<article class="post">
		<header>
			<h1>{title}</h1>
			<div class="wrap">
				<dl class="meta">
					<dt class="visually-hidden">Posted at</dt>
					<dd>
						<time datetime={pubDate.toISOString()}>
							{
								pubDate.toLocaleDateString('en-GB', {
									day: 'numeric',
									month: 'long',
									year: 'numeric',
								})
							}
						</time>
					</dd>
					<dt class="visually-hidden">Posted By</dt>
					<dd>{author}</dd>
				</dl>
			</div>

			{
				thumbnail && (
					<div class="background-canvas">
						<Image src={thumbnail} loading="eager" alt={title} />
					</div>
				)
			}
		</header>

		<div class="wrap">
			<div class="prose stack">
				<Content />
			</div>
		</div>
	</article>

	<NewsletterSignup />

	<TakeAction />
</Layout>

<style>
	header {
		background: var(--content-hero);
		color: var(--body-text-light);
		clip-path: var(--wavy-line-top-bottom);
		position: relative;
		padding-block: var(--space-3xl);
		overflow: hidden;
	}

	.wrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-size: var(--font-2xl);
		margin-block-end: var(--space-s);
		text-align: center;
	}

	.background-canvas {
		position: absolute;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: -1;

		img {
			block-size: 100%;
			inline-size: 100%;
			object-fit: cover;
			filter: opacity(0.5) grayscale(1);
		}
	}

	.prose {
		margin: auto;
		margin-block: var(--space-2xl);
	}

	.meta {
		display: flex;
		gap: var(--space-xs);
	}
</style>
