---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import TakeAction from '../../components/TakeAction.astro';
import NewsletterSignup from '../../components/NewsletterSignup.astro';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const articles = await getCollection('articles');

	return articles.map((article) => ({
		params: { slug: article.id },
		data: { article },
	}));
}

const { slug } = Astro.params;

const article = await getEntry('articles', slug);

if (!article) {
	return Astro.rewrite('/404');
}

const {
	data: { author, description, pubDate, title },
} = article;
const { Content } = await render(article);
---

<Layout {title} {description} breadcrumb={title}>
	<!-- Hero Section -->
	<div class="Post">
		<header class="Post__header">
			<div class="Post__headerInner">
				<h1 class="Post__title">{title}</h1>

				<dl class="Post__meta">
					<dt class="Post__metaTitle">Posted at</dt>
					<dd class="Post__metaValue">
						<time datetime={pubDate.toISOString()}>
							{
								pubDate.toLocaleDateString('en-GB', {
									day: 'numeric',
									month: 'long',
									year: 'numeric',
								})
							}
						</time>
					</dd>
					<dt class="Post__metaTitle"><span class="visually-hidden">Posted </span>By</dt>
					<dd class="Post__metaValue">{author}</dd>
				</dl>

				<a href="/articles">
					<svg class="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M15 19l-7-7 7-7"
						>
						</path>
					</svg>
					Back to Articles
				</a>
			</div>
		</header>

		<div class="Post__content prose">
			<Content />
		</div>
	</div>

	<NewsletterSignup />

	<TakeAction />
</Layout>
