---
import Layout from '../layouts/Layout.astro';
import { siteConfig } from '../config';
import ContentHero from '../components/ContentHero.astro';
---

<Layout title="Contact" className="Contact">
	<ContentHero title="Get in touch" variant="tertiary">
		<p>
			We'd love to hear from you. Whether you're interested in volunteering, have land to offer, or
			want to support our work, please get in touch.
		</p>
	</ContentHero>

	<div class="PageSection">
		<div class="container inline-centered readable-width" data-readable-width="larger">
			<div class="Contact__layout">
				<div>
					<h2 class="Contact__subTitle">Contact Information</h2>

					<div class="Contact__list">
						<address>
							<div>
								<strong>Email</strong>

								<a href={`mailto:${siteConfig.contact.email}`}>{siteConfig.contact.email}</a>
							</div>

							<div>
								<strong>Phone</strong>

								<a href={siteConfig.contact.phone.link}>{siteConfig.contact.phone.label}</a>
							</div>
						</address>

						<div>
							<strong>Charity Number</strong>
							<span>{siteConfig.charityNumber}</span>
						</div>
					</div>
				</div>

				<div>
					<h2 class="Contact__subTitle">Follow Us</h2>
					<div class="Contact__list">
						<div>
							<a href={siteConfig.social.threads} target="_blank" rel="noopener noreferrer">
								Threads →
							</a>
						</div>
						<div>
							<a href={siteConfig.social.instagram} target="_blank" rel="noopener noreferrer">
								Instagram →
							</a>
						</div>
						<div>
							<a href={siteConfig.social.facebook} target="_blank" rel="noopener noreferrer">
								Facebook →
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="PageSection" data-variant="muted">
		<h2 class="PageSection__title">Ways to Get Involved</h2>
		<div class="PageSection__content">
			<nav class="PanelLinks">
				<a href="/get-involved/people-families" class="PanelLinks__link">
					<strong class="text-xl font-bold mb-2">Volunteer</strong>
					<span>Join us at tree planting events and woodland maintenance days</span>
				</a>
				<a href="/act-now/general-donation" class="PanelLinks__link">
					<strong class="text-xl font-bold mb-2">Donate</strong>
					<span> Support our work creating and restoring woodlands across the UK </span>
				</a>
				<a href="/get-involved/landowners" class="PanelLinks__link">
					<strong class="text-xl font-bold mb-2">Landowners</strong>
					<span>Have land you'd like to see transformed into woodland?</span>
				</a>
			</nav>
		</div>
	</section>
</Layout>
