---
import type { HTMLTag, Polymorphic } from 'astro/types';
import { Image } from 'astro:assets';
import NoImage from './../assets/icons/image.svg';

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;
const { description, pubDate, slug, thumbnail, title, titleAs: Tag = 'h2' } = Astro.props;
---

<article class="article stack">
	<figure>
		<a href={`/articles/${slug}`}>
			{
				thumbnail ? (
					<Image src={thumbnail} alt={title}
						width={600}
						height={400}
						loading="lazy"} />
				) : (
					<div class="no-image">
						<NoImage height={36} width={36} />
					</div>
				)
			}
		</a>
	</figure>

	<header class="stack">
		<Tag><a href={`/articles/${slug}`}>{title}</a></Tag>
		<time datetime={pubDate.toISOString()}>
			{
				pubDate.toLocaleDateString('en-GB', {
					day: 'numeric',
					month: 'long',
					year: 'numeric',
				})
			}
		</time>
	</header>

	{
		description && (
			<div class="desc">
				<p>{description}</p>
			</div>
		)
	}

	<a class="button" href={`/articles/${slug}`}>Read more</a>
</article>

<style>
	article {
		text-align: left;
	}

	figure {
		aspect-ratio: 3/2;
		overflow: hidden;
		background: var(--grey-light);
		border-radius: var(--radius-m);
	}

	figure img {
		transition: all var(--transition);
	}

	figure:hover img {
		transform: scale(102%);
		filter: var(--hover-effect-filter);
	}

	.no-image {
		aspect-ratio: 3/2;
		overflow: hidden;
		background: var(--grey-light);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.desc {
		flex: 1;
	}

	a:not(.button) {
		color: var(--body-text);
		text-decoration: none;
	}

	h2,
	h3 {
		font-size: var(--font-s);
		font-weight: 700;
	}

	p {
		font-size: var(--font-xs);
	}
</style>
