---
import type { HTMLTag, Polymorphic } from 'astro/types';

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;
const { description, pubDate, slug, thumbnail, title, titleAs: Tag = 'h2' } = Astro.props;
---

<article class="Article">
	<header class="Article__header">
		<Tag class="Article__title">{title}</Tag>

		<time class="Article__date" datetime={pubDate.toISOString()}>
			{
				pubDate.toLocaleDateString('en-GB', {
					day: 'numeric',
					month: 'long',
					year: 'numeric',
				})
			}
		</time>
	</header>

	<aside class="Article__thumbnail">
		{thumbnail && <img src={thumbnail} alt="" />}
	</aside>

	{
		description && (
			<div class="Article__description">
				<p>{description}</p>
			</div>
		)
	}

	<a class="Article__link block-link" href={`/articles/${slug}`}>Read more</a>
</article>
