---
import { siteConfig } from '../config';
import type { ImageMetadata } from 'astro';
import OpenGraphImage from '../assets/opengraph-image.png';
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

const { name, tagline } = siteConfig;

interface Props {
	title: string;
	description?: string;
	image?: ImageMetadata;
}

const { title, description = tagline, image = OpenGraphImage } = Astro.props;
---

<title>{title} | {name}</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light only" />
<meta name="theme-color" content="#175704" />

<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="icon" sizes="64x64" type="image/png" href="/favicon-64.png" />
<link rel="icon" sizes="180x180" type="image/png" href="/favicon-180.png" />
<link rel="icon" sizes="192x192" type="image/png" href="/favicon-192.png" />
<link rel="icon" sizes="512x512" type="image/png" href="/favicon-512.png" />
<link rel="apple-touch-icon" type="image/png" href="/touch-icon.png" />
<link rel="canonical" href={canonicalUrl} />

<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image.src, Astro.url)} />
