---
const { title, source, url, image, imageAlt, description, date } = Astro.props;
---

<article class="PressArticle">
	<img class="PressArticle__image" src={image} alt={imageAlt} />

	<div class="PressArticle__content">
		<header class="PressArticle__header">
			<h2 class="PressArticle__title">{title}</h2>
			<dl class="PressArticle__meta">
				<dt class="PressArticle__metaTitle visually-hidden">Source</dt>
				<dd class="PressArticle__metaValue">{source}</dd>

				<dt class="PressArticle__metaTitle visually-hidden">Posted</dt>
				<dd class="PressArticle__metaValue">
					<time datetime={date.toISOString()}>
						{date.toLocaleDateString('en-GB', { month: 'short', day: 'numeric', year: 'numeric' })}
					</time>
				</dd>
			</dl>
		</header>

		<p class="PressArticle__description">{description}</p>

		<a class="PressArticle__link block-link" href={url} target="_blank" rel="noopener">
			Read article
		</a>
	</div>
</article>
